* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    font: 50px white center;
}

#search-city {
    background-color: rgb(196, 228, 238);
}

.card-city {
    border: 2px
}

.forecast {
    margin: 2px
}

.main-container {
    padding: 5px;
}

.row-blue {
    background-color: rgb(196, 228, 238);
}